<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Sistema Gestão de Funcionários</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">

</head>
<body>
	<div class="container my-2">
		<h1>Lista de Funcionários</h1>

		<a th:href="@{/showForm}" class="btn btn-primary btn-sm mb-3">
			Adicionar Funcionário </a>

		<table border="1" class="table table-striped table-responsive-md">
			<thead>
				<tr>
					<th><a th:href="@{'/page/' + ${currentPage} + '?sortField=Nome&sortDir=' + ${reverseSortDir}}"> Nome </a></th>
					<th><a th:href="@{'/page/' + ${currentPage} + '?sortField=email&sortDir=' + ${reverseSortDir}}"> Email </a></th>
					<th>Ações</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="funcionario : ${listaFuncionarios}">
					<td th:text="${funcionario.nome}"></td>
					<td th:text="${funcionario.email}"></td>
					<td><a
						th:href="@{/showFormForUpdate/{id}(id=${funcionario.id})}"
						class="btn btn-primary">Atualizar</a> <a
						th:href="@{/deleteFuncionario/{id}(id=${funcionario.id})}"
						class="btn btn-danger">Deletar</a></td>
				</tr>
			</tbody>
		</table>
		
		<div th:if="${totalPages > 1}">
			<div class="row col-sm-10">
				<div class="col-sm-2">Total Itens: [[${totalItems + 1}]]</div>

				<div class="col-sm-1">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}"> <a th:if="${currentPage != i}"
						th:href="@{'/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span> 
					</span>
				</div>
				
				<div class="col-sm-1">
					<a th:if="${currentPage < totalPages}"
						th:href="@{'/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Anterior</a>
				</div>
				
				<div class="col-sm-1">
					<a th:if="${currentPage < totalPages}"
						th:href="@{'/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Próximo</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>